:root {
  --sg-font-sans: 'Inter Variable', system-ui, sans-serif;
  --sg-font-mono: 'JetBrains Mono Variable', ui-monospace, monospace;

  --sg-font-size-xs: 0.75rem; // 12px
  --sg-font-size-sm: 0.78125rem; // 12.5px
  --sg-font-size-md: 0.8125rem; // 13px
  --sg-font-size-lg: 0.875rem; // 14px
  --sg-font-size-xl: 1.375rem; // 22px

  --sg-radius-sm: 6px;
  --sg-radius-md: 8px;
  --sg-radius-lg: 10px;
}
