<svg [attr.viewBox]="viewBox()" appZoomable #zoom="appZoomable">
  <g [attr.transform]="zoom.transform()">
    @for (edge of graph().edges ?? []; track edge.id) {
      <path [attr.d]="edgePath(edge)" fill="none" stroke="black" />
    }

    @for (node of graph().children ?? []; track node.id) {
      <g>
        <rect
          [attr.x]="node.x"
          [attr.y]="node.y"
          [attr.width]="node.width"
          [attr.height]="node.height"
        />
        <text
          [attr.x]="(node.x ?? 0) + (node.width ?? 0) / 2"
          [attr.y]="(node.y ?? 0) + (node.height ?? 0) / 2"
          text-anchor="middle"
          dominant-baseline="middle"
        >
          {{ node.id }}
        </text>
      </g>
    }
  </g>
</svg>
